// Utilities

$utilities: (
  ) !default;
// stylelint-disable-next-line scss/dollar-variable-default
$utilities: map-merge(("font-size": (rfs: false,
        property: font-size,
        class: fs,
        state: hover,
        responsive:true,
        values: $font-sizes),
      "bg-opacity": (css-var: true,
        class: bg-opacity,
        values: (10: .1,
          25: .25,
          30:.3,
          50: .5,
          75: .75,
          100: 1)),
      // "text-opacity": (css-var: true,
      //   class: text-opacity,
      //   state: focus,
      //   values: (
      //     0: 0,
      //     25: .25,
      //     50: .5,
      //     75: .75,
      //     100: 1)),
      "opacity": (property: opacity,
        values: (0: 0,
          25: .25,
          50: .5,
          75: .75,
          100: 1,
        )),
      "text-shadow": (property: text-shadow,
        rfs: false,
        class: text-shadow,
        values: (1: 0 4px 4px rgba(0, 0, 0, 0.75))),
      "w-px": (property: width,
        class: w-px,
        responsive:true,
        values: (8: 8px,
          20: 20px,
          24: 24px,
          26: 26px,
          50: 50px,
          60: 60px,
          90: 90px,
          100: 100px,
          150: 150px)),
      "width": (property: width,
        class: w,
        responsive:true,
        values: (10:10%,
          20:20%,
          25:25%,
          40:40%,
          50: 50%,
          70:70%,
          80:80%,
          75: 75%,
          90:90%,
          100: 100%,
          150:150%,
          auto: auto)),
      "h-px": (property: height,
        class: h-px,
        responsive:true,
        values: (8: 8px,
          20:20px,
          24:24px,
          50:50px,
          60:60px,
          90:90px,
          100:100px,
          300:300px)),
      "h-vh": (property: height,
        class: h-vh,
        values: (50: 50vh, 80:80vh,
          100:100vh)),
      "height": (property: height,
        class: h,
        values: (10:10%,
          25: 25%,
          50: 50%,
          75: 75%,
          100: 100%,
          auto: auto)),
      "cursor": (property: cursor,
        values: (pointer:pointer)),
      "top": (property: top,
        responsive:true,
        values: (0: 0,
          25:25%,
          30:30%,
          40:40%,
          50: 50%,
          100: 100%)),
      "left": (property: left,
        responsive:true,
        values: (0: 0,
          25:25%,
          30:30%,
          40:40%,
          50: 50%,
          100: 100%)),
      "rounded": (property: border-radius,
        responsive:true,
        class: rounded,
        values: (null: $border-radius,
          0: 0,
          1: $border-radius-sm,
          2: $border-radius,
          3: $border-radius-lg,
          circle: 50%,
          pill: $border-radius-pill )),
      "color": (property: color,
        class: text,
        state: hover,
        local-vars: ("text-opacity": 1),
        values: $theme-colors),
      "background-color": (property: background-color,
        class: bg,
        state: hover,
        local-vars: ("bg-opacity": 1),
        values: map-merge($utilities-bg-colors,
          ("transparent": transparent,
            "body-secondary": rgba(var(--#{$prefix}secondary-bg-rgb), var(--#{$prefix}bg-opacity)),
            "body-tertiary": rgba(var(--#{$prefix}tertiary-bg-rgb), var(--#{$prefix}bg-opacity)),
          )))),
    $utilities
);



///不是YM或不是白名單{錯誤} (YM===false && White===false)    